# Developer tools' files
.lite_workspace.lua

# Neutralinojs binaries and builds
/bin
/dist
/build

# Neutralinojs related files
.storage
*.log

# node
node_modules

.tmp

# setting.json 
setting.json

# automatically generate the type file
auto-imports.d.ts
components.d.ts
